*{
  margin: 0;
  padding: 0;
}
html,body{
  background: url('./images/main-background.jpg ');
  background-position: center;
  background-size: auto;
}
div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
div div:first-child{
  /*primer div raro mui*/
}
.App {

}