*{
  margin: 0;
  padding: 0;
  max-height: 150%;
}
html,body{
  background: url('./images/main-background.jpg ');
  background-position: center;
  background-size: auto;
  height: 100%;
  width: auto;
  
}
body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mapboxgl-control-container {
  display: none;
  text-decoration: none;
}
.rutas{
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-left: 2%;
}
div{
  height: max-content;
  display: flex;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

.mapboxgl-marker{
  display: none;
}

.ejemplo{
  display: grid;
  text-align: center;
}
.contenedor-footer{
  grid-area: footer;
}
.navegacion{
  display: inline-block;
}

.principal{
  width: fit-content;
  height: 100;
}
.menuNav{
  background-color: rgb(215, 213, 213);
  width: 13rem;
  height: 100%;
  border-right: 5px solid black;
  font-size: x-large;
  justify-content: center;

}
ul {
  padding: 1rem 2rem;
  list-style: none;
  width: 100%;
  text-align: center;
}
li{
  margin-bottom: 2rem;
  padding: 5px ;
  background-color: rgb(183, 183, 183);
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(217, 3, 217);
}
