.login-form{
    color: white;
    display: inline-block;
    margin-top: 30vh;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(50px);
    font-family: 'poppins','Comic Sans MS','sans-serif';
    padding: 2em;
    min-height: 20vh;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.inputText{
    margin: 20px 5px;
}
.inputText>div>label{
    color: white;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.buttons button{
    padding: 0 1.5em;
    color: black;
    background-color: white;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
}
.buttons button:hover{
    color: white;
    background-color: orange;
}