
.login-form{
    display: inline-block;
    margin-top: 30vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-family: 'poppins','Comic Sans MS','sans-serif';
    padding: 2em;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

.inputText{
    margin: 10px 5px;
}