.primero {
    background-color: white;
    background-position: center;
    text-align: center;
    height: 95%;
    width: 80%;
    font-size: large;
    font-style: italic;
    position: absolute;
}